.add-btn{
    border-radius: 10px;
    background-color: #33333375;;
}

.dark-gray{
    background-color: #181818;
    border-radius: 10px;
}

.description{
    height: 83px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item{
    background-color: transparent;
}

input{
    background-color: transparent;
}