@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../assets/image.png'); /* Путь к изображению */
  background-size: cover; /* Растягивает изображение на весь экран */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Отключает повторение */
  color: #FFFFFF;
}

.input-text{
  background-color: inherit;
  border: #FFFFFF solid 1px;
  border-radius: 30px;
  padding: 7px 15px;
  color: #FFFFFF;
  width: 100%;
}

button{
  border-radius: 30px;
  padding: 7px 15px;
  background-color: #FF4400;
  width: 100%;
  color: #FFFFFF;
}

button:hover{
  background-color: #fa6b37;
}

.form{
  height: 100vh;
}

h2{
  font-size: 20px;
}

a{
  text-decoration: underline;
}

a:hover{
  color: #FF4400;
}

.form-check-input {
  accent-color: #FF4400; /* Цвет чекбокса */
}

/* Остальные стили */
.error-text {
  color: red;
  font-size: 14px;
}

.form-check-label {
  color: white;
}